/* Textos
font-family: 'Open Sans', sans-serif;

Titulos 
font-family: 'Bree Serif', serif;*/

* {
  margin: 0;
  padding: 0;
}

#background-image {
  background: #555 url('../img/bkg1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 10px 20px;
  font-family: 'Bree Serif', sans-serif;
  font-size: 5rem;
  background: #fff;
  color: #000;
  mix-blend-mode: screen;
}

#navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30px;
  left: 10px;
  font-family: 'Bree Serif', serif;
}

.nav-list {
  padding: 10px 60px 10px 60px;
  margin: 0 20px 20px 20px;
  background: #fff;
}

a{
  text-decoration: none;
}

.nav-list:nth-child(1):hover {
  background: rgb(0, 120, 0);
  color: #fff;
}
.nav-list:nth-child(2):hover {
  background: rgb(0, 0, 120);
  color: #fff;
}
.nav-list:nth-child(3):hover {
  background: rgb(120, 0, 0);
  color: #fff;
}

.green {
  color: rgb(0, 120, 0);
}

.blue {
  color: rgb(0, 0, 120);
}

.red {
  color: rgb(120, 0, 0);
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 120, 0, .4);
}

.welcome-center {
  display: flex;
  align-items: center;
}

#welcome-section img {
  width: 150px;
  height: auto;
  padding: 10px;
}

#welcome-text {
  padding: 10px;
  height: 128px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 1.8;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 120, .4);
}

.imgs-project {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgs-sites:hover {
  filter: grayscale(1);
}

.imgs-sites {
  width: 25vw;
  height: auto;
  margin: 30px 20px; 
  border: 2px solid #fff;
  transition: .5s ease-out;
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(120, 0, 0, .4);
}

.icons {
  font-size: 40px;
  margin-top: 40px;
}

.icons a {
  color: #000;
}

.fab {
  background: #fff;
  padding: 20px;
  margin: 25px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
  transition: .4s ease-out;
}

.fab:hover {
  background: #ff0000;
  color: #fff;
  box-shadow: 15px 15px 15px rgba(0,0,0,.5);
  transform: scale(1.1);
}

@media screen and (max-width: 450px) {
  #navbar {
  flex-direction: row;
  left: auto;
  position: absolute;
  } 
  .nav-list {
    padding: 5px 10px;
    margin: 0 15px;
    justify-content: center;
  }
  h1 {
    font-size: 3.5rem;
  }

  #welcome-section img {
    width: 120px;
  }
  #welcome-text {
    padding: 3px;
    font-size: .85rem;
    height: auto;
    line-height: 1.2;
    border-right: none;
    border-bottom: none;
  }
  .imgs-project {
    margin-top: 5px;
  }
  .imgs-sites {
    width: 50vw;
    margin: 5px 0; 
  }
  .icons {
    font-size: 30px;
    margin-top: 40px;
  }
  .fab {
    padding: 15px;
    margin: 15px;
  }
}

@media screen and (max-width: 330px){
  .nav-list {
    font-size: .8rem;
  }
}